{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} Sport xabarlar {% endblock title %}

{% block content %}
    {% for news in sport_yangiliklar %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ news.get_absolute_url }}">
                    <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width: 70%">
                    <h3>{{ news.title }}</h3>
                        <p>Ko'rilganlar soni: <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}