{% extends 'news/base.html' %}
{% load static %}

{% block title %} Xorij xabarlari {% endblock title %}

{% block content %}
    {% for news in xorijiy_yangiliklar %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ news.get_absolute_url }}">
                    <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width: 70%">
                    <h3>{{ news.title }}</h3>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}